<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.1.1" targetFramework="net472" />
  <package id="AutoMapper.Extensions.ExpressionMapping" version="2.0.2" targetFramework="net472" />
  <package id="DataGenerator" version="5.0.0.50" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="EntityFramework.Functions" version="1.4.1" targetFramework="net472" />
  <package id="FluentValidation" version="8.6.1" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.7.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.5.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.3.0" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.MSSqlServer" version="5.1.2" targetFramework="net472" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net472" />
  <package id="Serilog.Sinks.RollingFile" version="3.2.0" targetFramework="net472" />
  <package id="SFC.Core" version="3.0.2" targetFramework="net472" />
  <package id="Sfc.Core.Aop.WebApi" version="3.4.0" targetFramework="net472" />
  <package id="Sfc.Core.BaseApiController" version="2.0.4" targetFramework="net472" />
  <package id="Sfc.Core.Cache.Contracts" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Core.Cache.InMemory" version="1.2.1" targetFramework="net472" />
  <package id="Sfc.Core.ListManagement.Contracts" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.AutoMapping" version="2.0.1" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.LabelGenerator" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.Pagination" version="2.13.4" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.ParallelAndSequentialProcessing" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.ParserAndTranslator" version="2.0.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.Result" version="2.3.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.Security.Contracts" version="2.2.0" targetFramework="net472" />
  <package id="Sfc.Core.OnPrem.UnitOfWork.Contracts" version="1.0.1" targetFramework="net472" />
  <package id="Sfc.Core.RestResponse" version="1.4.5" targetFramework="net472" />
  <package id="Sfc.Wms.App.Api.Contracts" version="5.9.2" targetFramework="net472" />
  <package id="Sfc.Wms.App.App" version="3.1.2" targetFramework="net472" />
  <package id="Sfc.Wms.Confguration.ItemMaster.Contracts" version="4.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Confguration.ItemMasters.Contracts" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Confguration.VendorMasters.Contracts" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.DockDoor.Contracts" version="2.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.DockDoor.Repository" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.ItemMasters.Repository" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageLogger.Contracts" version="4.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageLogger.Repository" version="5.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageMaster.Contracts" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageMaster.Repository" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageType.Repository" version="3.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.MessageTypes.Contracts" version="4.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.NextUpCounter.Contracts" version="5.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.NextUpCounter.Repository" version="5.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.Security.Rbac.Repository" version="4.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.SystemCode.Contracts" version="3.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.SystemCode.Repository" version="4.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.UserMaster.Contracts" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.UserMaster.Repository" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.VendorMasters.Repository" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Configuration.WarehouseMaster.Contracts" version="3.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Data" version="5.18.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.AllocationInventory.Contracts" version="3.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.AllocationInventory.Repository" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Carton.Contracts" version="3.3.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Carton.Repository" version="2.4.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Corba.Contracts" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Corba.Repository" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.InboundLpn.Contracts" version="5.8.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.InboundLpn.Repository" version="5.4.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Location.Contracts" version="4.6.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Location.Repository" version="2.6.2" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Message.Contracts" version="6.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Message.Repository" version="6.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.MessageSource.Contracts" version="1.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.MessageSource.Repository" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.PixTransaction.Contracts" version="2.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.PixTransaction.Repository" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Receiving.Contracts" version="2.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Receiving.Repository" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.SkuInventory.Contracts" version="3.0.2" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.SkuInventory.Repository" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Tasks.Contracts" version="2.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.Tasks.Repository" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.TransitionalInventory.Contracts" version="1.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Foundation.TransitionalInventory.Repository" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.AllocationInventory.App" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.Corba.App" version="2.1.1" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.DockDoor.App" version="2.2.5" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.Interceptor.App" version="3.8.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.ItemMasters.App" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.Location.App" version="1.4.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.MessageLogger.App" version="1.1.1" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.MessageMaster.App" version="1.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.MessageTypes.App" version="2.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.NextUpCounter.App" version="5.0.2" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.PixTransaction.App" version="2.3.1" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.Security.Rbac" version="5.1.1" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.Security.Token.Jwt" version="3.0.2" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.SkuInventory.App" version="1.0.5" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.SystemCode.App" version="4.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.UnitOfWork" version="4.0.4" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.UserMaster.App" version="1.0.9" targetFramework="net472" />
  <package id="Sfc.Wms.Framework.VendorMasters.App" version="1.0.1" targetFramework="net472" />
  <package id="Sfc.Wms.Inbound.Tasks.App" version="2.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Inbound.TransitionalInventory.App" version="1.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.InboundLpn.App" version="6.7.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.App" version="3.25.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.Contracts" version="2.5.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.Dematic.Contracts" version="6.2.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.Dematic.Repository" version="3.1.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.Shamrock.Contracts" version="4.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Asrs.Shamrock.Repository" version="1.2.1" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Builder" version="2.7.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Message.App" version="3.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.MessageSource.App" version="1.1.2" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Parser" version="2.7.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.ParserAndTranslator.Contracts" version="2.10.0" targetFramework="net472" />
  <package id="Sfc.Wms.Interfaces.Translator" version="3.7.1" targetFramework="net472" />
  <package id="Sfc.Wms.Outbound.Carton.App" version="2.4.0" targetFramework="net472" />
  <package id="Sfc.Wms.Outbound.ParentChildSkuConversion.App" version="1.0.0" targetFramework="net472" />
  <package id="Sfc.Wms.Outbound.ParentChildSkuConversion.Contracts" version="1.0.0" targetFramework="net472" />
  <package id="SimpleInjector" version="4.8.1" targetFramework="net472" />
  <package id="SimpleInjector.Integration.WebApi" version="4.7.1" targetFramework="net472" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net472" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net472" />
  <package id="System.Management" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net472" />
  <package id="Wms.App.Contracts" version="1.0.74" targetFramework="net472" />
</packages>