<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="ReportsFolderPath" value="../../Reports/" />
    <add key ="ComtUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/container-maintenance"/>
    <add key ="IvmtUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/inventory-maintenance"/>
    <add key ="EmsToWmsUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/emstowms-message"/>
    <add key ="OrmtUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/order-maintenance/carton-number"/>
    <add key ="OrmtWaveUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/order-maintenance/wave-number"/>
    <add key="SkmtUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/sku-maintenance"/>
  </appSettings>
  <connectionStrings>
    <add name="SfcRbacContextModel" connectionString="DATA SOURCE=vpkmsd1.shamrockfoods.com:1521/vpkmsd1.shamrockfoods.com;PASSWORD=SHAMLIVE;PERSIST SECURITY INFO=True;USER ID=SHAMLIVE" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  
</configuration>