<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="ReportsFolderPath" value="../../Reports/" />
    <add key ="BaseUrl" value="http://dev.az.app.api.wms.shamrockfoods.com/api/" />
  </appSettings>
  <connectionStrings>
    <add name="SfcRbacContextModel" connectionString="DATA SOURCE=vpkmsd1.shamrockfoods.com:1521/vpkmsd1.shamrockfoods.com;PASSWORD=SHAMLIVE;PERSIST SECURITY INFO=True;USER ID=SHAMLIVE" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="BindbyName" value="true" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
</configuration>