<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="ReportsFolderPath" value="../../Reports/" />
    <add key ="ComtUrl" value="http://localhost:59665/api/container-maintenance"/>
    <add key ="IvmtUrl" value="http://localhost:59665/api/inventory-maintenance"/>
    <add key ="CostUrl" value="http://localhost:59665/api/emstowms-message"/>
    <add key ="IvstUrl" value="http://localhost:59665/api/emstowms-message"/>
  </appSettings>
  <connectionStrings>
    <add name="SfcRbacContextModel" connectionString="DATA SOURCE=vpkmsd1.shamrockfoods.com:1521/vpkmsd1.shamrockfoods.com;PASSWORD=SHAMLIVE;PERSIST SECURITY INFO=True;USER ID=SHAMLIVE" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  
</configuration>