<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ReportsFolderPath" value="../../Reports/" />
    <add key="jwt:secretKey"
         value="db3OIsj+BXE9NZDy0t8W3TcNekrF+2d/1sFnWG4HnV8TZY30iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
    <add key="jwt:issuer" value="www.shamrockfoodcompany.com" />
    <add key="jwt:expireTime" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BaseUrl" value="http://localhost/59665" />
  </appSettings>
</configuration>