<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ReportsFolderPath" value="../../Reports/" />
    <add key="BaseUrl" value="http://localhost:59355" />
  </appSettings>
  <connectionStrings>
    <add name="DematicDbContext"
         connectionString="DATA SOURCE=vpkmsd1.shamrockfoods.com:1521/vpkmsd1.shamrockfoods.com;PASSWORD=shamlive;USER ID=SHAMLIVE"
         providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ShamrockDbContext"
         connectionString="DATA SOURCE=vpkmsd1.shamrockfoods.com:1521/vpkmsd1.shamrockfoods.com;PASSWORD=shamlive;USER ID=SHAMLIVE"
         providerName="Oracle.ManagedDataAccess.Client" />
    <add name="LogModel"
         connectionString="data source=DESKTOP-OGEE4RG\MSSQLSERVER01;initial catalog=LoggingDB;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>